{% extends 'base.html' %}
{% block content %}

<h1>{{ app }}</h1>

<h5>Name: </h5>
<p>{{ name }}<p> 
<h5>Class: </h5>
<p>{{ class }}<p>

<!-- <h5>Product: </h5>
<p>{{ product }}<p>

<h5>Price: </h5>
<p>{{ price }}<p>  

<h5>Thickness: </h5>
<p>{{ thickness }}<p>  

<h5>Product description: </h5>
<p>{{ description }}<p>  

<h5>User review: </h5>
<p>{{ user_reviews }}<p> -->
    
{% if not product_entries %}
<p>Belum ada data product yang diinput.</p>
{% else %}
<table>
    <tr>
    <th>Product Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Thickness</th>
    <th>User Review</th>
    <th>User Rating</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data product di bawah baris ini 
    {% endcomment %} 
    {% for product_entry in product_entries %}
    <tr>
    <td>{{product_entry.name}}</td>
    <td>{{product_entry.price}}</td>
    <td>{{product_entry.description}}</td>
    <td>{{product_entry.thickness}}</td>
    <td>{{product_entry.user_reviews}}</td>
    <td>{{product_entry.user_ratings}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_product_entry' %}">
    <button>Add New Product Entry</button>
</a>

<a href="{% url 'main:logout' %}">
    <button>Logout</button>
  </a>

<h5>Sesi terakhir login: {{ last_login }}</h5>


{% endblock content %}